@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
*{
    margin: 0;
    padding: 0;

}
/* generales */
body{
    background-color: black ;
    color: red;
    font-family: 'Hind Madurai', sans-serif;
    
}
/* nav principal */
.nav-link:hover{color: blueviolet;
    font-size: 1.6rem;
 
    
}
.container-fluid{
    border-bottom: 1px solid blueviolet;
}
.nav-link{
    font-size: 1.3rem;
    color: white;

}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    margin-left: 90%;
}
 main,footer{
    background-color:black;
    color: white ;
    padding-top: 15px;
    margin-bottom: 0px;
} 
    /* .footer__shop{
        background-color: black;} */
.LogoEupho{
    width: 7%;  /* porcentaje de que lo que se ve en la pagina (100%totalidad de la pantalla-4%queda como logo */
    height: 7%;
   
}








 main{
    text-align: center;

}
main h2 {
    text-align: left;
} 

/*index  main */

 main h1 {
    margin: 30px 0px;
}
main h2{
    margin: 40px 0px;
}
main h4 {
    margin: 60px 0px;
} 


/*index footer*/
 footer {
   
    text-align: center;
    padding: 30px 200px;
   
     
}
.main__footer{
    padding: 30px 200px;
}
.footer-index{ display: flex;
    color: blueviolet;
    gap: 100px;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 2rem;
    
}

    /* shop  footer */
    
   .footer__shop{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    margin-top: 100px;
    text-align: center;
    gap: 100px;
    font-size: 0.8rem;
   }

    
.footer__shop p{
    background-color: black;
}
   
    /* imagen nab */   
    .img-nabvarmobile{
        display:none ;
    } 
        
  /* lista de productor */  
     .img2-fila1{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr ;
       gap: 50px ;
       margin-top: 100px;
       text-align: center;
       margin-bottom: 100px;
       
    }
    .img2-fila1 div{
        background-color: white;
        color: black;
    }
    .img2-fila1 div h2{
        text-align: center;
        background-color: white;
        color: blueviolet;
        
    }
    .img2-fila1 div h2,p{
        text-align: center;
        background-color: white;
        color: blueviolet;
        font-size: 200%;
        

        
    }
   /* curso */
  
   .footer__curso p{
    background-color: black;
    font-size: 1rem;
   }
    
    
    

/* mobile */
@media only screen and (max-width: 517px){
    .h4, h4 {
        font-size: 1rem;
    }
    .img2-fila1{grid-template-columns: 1fr;}
    .footer__shop{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        font-size: 0.5rem;
    }
    .img-nabvarmobile{display:block;}
    .img-nabvar{
        display: none;
    }
    .main__footer{
        padding: 20px 100px;
    }
    .footer__curso{
        font-size: 0.5rem;
        padding: 5px 10px;
    }

}